@font-face {
    font-family: 'SF Pro Display';
    src: url(fonts/sf-pro-display_regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(fonts/sf-pro-display_semibold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url(fonts/sf-pro-text_regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url(fonts/sf-pro-text_semibold.woff2);
    font-weight: 600;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url(fonts/sf-pro-text_bold.woff2);
    font-weight: 700;
}

body {
    background: black;
    margin: 0;
    font-family: 'Sf Pro Text';
}

a {
    text-decoration: none;
}

nav {
    background: rgb(22 22 23 / 80%);
    height: 48px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul {
    display: grid;
    justify-content: space-between;
    line-height: 48px;
    grid-template-columns: 1fr 48px 48px 48px;
}

nav a {
    opacity: .8;
}

nav a:hover {
    opacity: 1;
}
.logo {
    text-align: left;
}
.logo a {
    padding: 0 16px;
}

nav ul svg {
    fill: white;
    width: 18px;
    height: 18px;
}

.mobile a {
    padding: 0 9px;
    text-align: center;
}

.mobile .logo a {
    padding-left: 16px;
}

.desktop {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    line-height: normal;
    justify-content: space-evenly;
}

.desktop li {
    padding: 4px 48px;
}

.desktop .icon-wrapper {
    display: none;
}

.desktop a {
    color: white;
    font: 700 1.75em/1 'SF Pro Display';
}

.desktop .logo {
    display: none;
}

.flex {
    display: flex;
}

@media screen and (min-width: 840px){
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        position: unset;
        align-items: center;
        height: 44px;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 22px;
    }

    .desktop .logo {
        display: block;
        width: auto;
    }

    .desktop li {
        padding: 0;
    }

    .desktop a {
        color: white;
        font: 400 12px/1 'SF Pro Display';
    }

    nav ul svg {
        display: block;
        width: 14px;
        height: 14px;
    }
}